<style>
    header{
        background: linear-gradient(45deg, #6e3dc6, #1b9cdb);
        padding: 0px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
    }
    .msg{
        flex: 1;
        text-align: center;
        font-size: 1.3rem;
        color: white;
    }
    .logo{
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-image: url("./images/logo1.png");
        background-size: contain;
    }
</style>
<header>
    <div class="logo"></div>
    <div class="msg">
        MMMUT Attendance Portal.
    </div>
</header>